.DS_Store
node_modules/
dist/
npm-debug.log
src/fbConfig.js
project.cson
functions/node_modules/
utilities/node_modules/
**/fBServiceAccountKey_*.json
**/firebase_account_key-*.json
**/users.json
**/*.bak
