.DS_Store
node_modules/
dist/
.vscode
npm-debug.log
src/fbConfig.js
project.cson
functions/node_modules/
utilities/node_modules/
**/fBServiceAccountKey_*.json
**/firebase_account_key_*.json
functions/firebase_account_key-development.json
functions/firebase_account_key-production.json
**/users.json
**/*.bak
